/* ==========================================================================
Main page styles
========================================================================== */

.city {
  background: url('../../content/images/city.jpg') no-repeat;
  background-position: center;
  background-size: cover;
  height: 91vh;
}

.route-btn {
  margin: auto 50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .buttons {
    flex-direction: column !important;
  }

  .route-btn {
    margin: 10px auto;
    max-width: 200px;
  }
}
